body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}
header {
    background: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.5rem;
}
p {
    margin: 100px;
}

.menu{
    background: none;
    border: none;
    left: 0;
    position:absolute;
    width: 10vh;
    height: 10vh;    
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
section {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 800px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h1, h2, h3 {
    color: #333;
    margin-bottom: 1rem;
}
footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: white;
    margin-top: 2rem;
}