body {
    background-color: aliceblue
}

header {
    background: fixed;
    background-color: darkgoldenrod;
}

.cabecalho{
    color: white;
    font-size: 2em;
    padding: 10px;    
}

ul {
    list-style: none;
}

* {
    text-align: center;
}